<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Article Creator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  </head>
  <body>
    <div style="text-align: center;">
        <h1>Article Creator</h1>
        <div class="form">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="author" placeholder="Author">
            <input type="text" name="description" placeholder="description">
            <div id="summernote"></div>
            <button class="submit">Submit</button>
            <h4 style="color: red;"class="submit_result">Status:</h4>
        </div>
        <script>
            $('.submit').click(function(){
            
                $.ajax
                ({ 
                    url: '/create/create_article/create',
                    data: {
                        "title": $('input[name=title]').val(),
                        "author": $('input[name=author]').val(),
                        "description": $('input[name=description]').val(),
                        "content": $('#summernote').summernote('code'),
                    },
                    type: 'post',
                    success: function(data)
                    {
                        try{
                            $('.submit_result').text(data['message']+' '+data['error']['message']);
                        }
                        catch(err){
                            $('.submit_result').text(data['message']);
                        }
                    }
                });
            });
            </script>
    </div>
    <script>
        $('#summernote').summernote({
            placeholder: 'Hello stand alone ui',
            tabsize: 2,
            height: 120,
            toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
        </script>
        <script>
            $('#summernote').summernote({
                height: 500,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
            });
        </script>
    
    
  </body>
</html>