.bordered {
    width: auto;
    height: auto;
    padding: 0;
    border: 10px solid #ff7c01;
    border-radius: 10px;
}
.main_header{
    display:flex;
    justify-content:center;
    background: #f8a04d;
    color:  white;
    
}
.body_container{
    background-color: white;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 5vh;
    align-items: center;
    background-color: #ff7c01;
    padding: 0;
}
.bar{
    flex: 100;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.bar.active{
    background-color: white;
    color: black;
}
.bar:hover{
    color: black;
    background-color: white;    
}
.bar_text{
    margin: 0;
}
.nav_divider{
    flex: 1;
    border-right: 1px solid white;
}
.content_container{
    display: flex;
    justify-content: center;
}
.content_login{
    flex: 1;
    background-color: #f8a04d;
}
.content_login_bordered {
    background-color: #f8a04d;
    width: auto;
    height: auto;
    padding: 0;
    border: 10px solid #f5c181;
    border-radius: 10px;
}