<!DOCTYPE html>
<html lang="en">
<!-- nawameow student forum -->
<!-- color theme #f8a04d; -->
<head>
    <title>Nawameow Forum</title>
    <link rel="stylesheet" href="/white/index.css">
    <link rel="stylesheet" href="/white/diary.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="bordered">
        <div>

            <div>
                <header class="main_header">
                    <h1>Nawameow : Student Forum</h1>
                </header>
            </div>

            <div class="body_container">
                
                <div class="nav_container">
                    <ul class="nav_bar">
                        <div class="bar active">
                            <p class="bar_text">lastest</p>
                        </div>
                        <div class="nav_divider"><p>|</p></div>
                        <div class="bar">
                            <p class="bar_text"><i class="hidden_cl">there's hidden</i>All <i class="hidden_cl">article page</i></p>
                        </div>
                    </ul>
                </div>
                
                <div class="content_container">
                        <div class="content_login_bordered">
                            <div class="content_login">
                                <!-- create login form -->
                                <p align="center"><b>Login</b></p>
                                <form action="/login" method="post">
                                    <div class="login_form">
                                        <input type="text" name="username" id="username" placeholder="Username">
                                    </div>
                                    <div class="login_form">
                                        <input type="password" name="password" id="password" placeholder="Password - 4 digits number">
                                    </div>
                                    <div class="login_form">
                                        <input type="submit" value="Login">
                                    </div>
                            </div>
                        </div>
                    
                    <div class="content_diary_container">
                        <ul class="diary_list">
                            <%- diary_cards%>
                        </ul>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>

    </script>
</body>